In [1]:
import numpy as np
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import tables
from random import shuffle
from IPython.display import clear_output
from sklearn import metrics
from tqdm import tqdm
import time
import seaborn as sns
%matplotlib inline

/opt/conda/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/opt/conda/anaconda3/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
import os
USE_GPU = True
os.environ['CUDA_VISIBLE_DEVICES'] = '3' if USE_GPU else ''
EPS = 1e-15

In [3]:
import ROOT
import rootpy
import root_numpy
import uproot

/opt/conda/anaconda3/lib/python3.6/site-packages/root_numpy/__init__.py:46: RuntimeWarning: numpy 1.15.0 is currently installed but you installed root_numpy against numpy 1.12.1. Please consider reinstalling root_numpy for this numpy version.
  RuntimeWarning)

# Data sets

In [4]:
lpmt_hits = pd.read_hdf('../data/lpmt_hits.h5', mode='r') 
spmt_hits = pd.read_hdf('../data/spmt_hits.h5', mode='r')
lpmt_pos = pd.read_csv('lpmt_pos.csv') 
spmt_pos = pd.read_csv('spmt_pos.csv') 
true_info = pd.read_csv('true_info.csv')

In [20]:
lpmt_hits.head() # spmt_hits.head()

   event     hitTime   isDN  pmtID
0      0  249.992615  False  14175
1      0   40.010311  False  17319
2      0  162.123199  False  16882
3      0   51.875614  False  14951
4      0   79.817497  False  10947

In [21]:
lpmt_pos.head() # spmt_pos.head()

   pmt_id         pmt_x      pmt_y     pmt_z
0       0  1.049021e+03     0.0000  19171.32
1       1  9.084785e+02   524.5103  19171.32
2       2  5.245103e+02   908.4785  19171.32
3       3  6.423399e-14  1049.0206  19171.32
4       4 -5.245103e+02   908.4785  19171.32

In [22]:
true_info.head()

          E          R  evtID           x           y           z
0  4.747791  14610.378      0   8290.7790  11995.6180   911.74286
1  3.919721  14630.141      1  11397.6320   5407.4497 -7409.08200
2  6.823932  14573.132      2  14063.3380  -3812.8540   246.65280
3  3.765940  16820.080      3  -2377.9307 -16317.7020  3315.59030
4  3.217473  13026.938      4  -8617.1170    868.5116  9730.98600

In [19]:
i = 100000
arr1 = np.arange(0, i)
arr2 = shuffle(arr1)
arr3 = arr2[:int(i/2)] # train
arr4 = arr2[int(i/2):]
arr5 = shuffle(arr4)
arr6 = arr5[:int(i/4)] # validation
arr7 = arr5[int(i/4):] # test

In [32]:
train_lpmt_hits = lpmt_hits[lpmt_hits['event'].isin(arr3)]
train_spmt_hits = spmt_hits[spmt_hits['event'].isin(arr3)]
train_info = true_info.iloc[arr3]

In [33]:
validation_lpmt_hits = lpmt_hits[lpmt_hits['event'].isin(arr6)]
validation_spmt_hits = spmt_hits[spmt_hits['event'].isin(arr6)]
validation_info = true_info.iloc[arr6]

In [ ]:
test_lpmt_hits = lpmt_hits[lpmt_hits['event'].isin(arr7)]
test_spmt_hits = spmt_hits[spmt_hits['event'].isin(arr7)]
test_info = true_info.iloc[arr7]

# KNN

# Logistic Regression

# XGBoost

# CatBoost